# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio temp files
*.user
*.aps


/RLBase/.vs
/charset-convert/.vs
/RLBase/build_temp
/RLBase/libs
/Test/packages
/Test/build_temp
/Test/Win32
/charset-convert/build_temp
/charset-convert/Win32
/Test/.vs
